@import "./variables";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 1024px;
  margin: auto;
  color: var(--default-font-color);
  background: var(--primary);
  background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
  body {
    width: 512px;
  }
}

@media screen and (max-width: 512px) {
  body {
    width: 100%;
  }
}
